<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="output.css" rel="stylesheet">
  <title>Let Them Cook!</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
<div class="fixed inset-0 bg-cover bg-center bg-no-repeat bg-fixed z-[-1]" 
     style="background-image: url(''); min-height: 300px;">
    <h1 class="text-8xl font-bold text-black pt-8 ml-10">
    LET
  </h1>
  <h1 class="text-8xl font-bold text-black ml-10 mt-3">
    THEM
  </h1>
  <h1 class="text-8xl font-bold text-black ml-10 mt-3">
    COOK
  </h1>
  <a href="" class="font-bold text-white bg-black p-3 inline-block m-3 rounded-3xl shadow-2xl hover:bg-gray-500 mt-15 ml-10 ">Cook Now!</a>
  <p class="ml-10 mt-9 font-bold">Let AI think what you want to cook!</p>
</div>
 
</body>
</html>